.has-error {
	margin-bottom: 15px;
}

	.has-error input,
	.has-error select,
	.has-error textarea {
		outline: #e8403c !important;
		border: solid 1px #e8403c !important;
	}

	.has-error span {
		font-size: 11px;
		display: block;
		margin-top: 5px;
		position: absolute;
		color: #e8403c;
		margin-left: 5px;
		font-weight: bold;
	}